<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Smart Fridge</title>
	    <link href="/assets/css/index.css" type="text/css" rel="stylesheet"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body ng-app='fridge-client' ng-controller='MainCtrl'>
		<div ng-class="{true: 'active'}[camera]" class="cam"></div>

		<script src="/assets/angular/angular.min.js"></script>
		<script src="/assets/socket.io-client/socket.io.js"></script>
		<script src="/assets/js/index.js"></script>
	</body>
</html>