body {
    background: #233442;
    font-family: sans-serif;
    /*color: white;*/
}

.cam {
	margin: auto;
	background-image: url('/assets/img/default.png');
	background-repeat: no-repeat;
	border-radius: 5px;
	width: 640px;
	height: 480px;
	display: block;
}

img {
	width: 640px;
	height: 480px;
	display: block;
	margin: auto;
	border-radius: 5px;
}

button {
	background-color: #468ba6;
	display: block;
	margin: auto;
	margin-top: 10px;
	height: 30px;
	width: 100px;
	border: none;
	color: white;
	border-radius: 5px;
}

button:hover, button:focus {
	background-color: #18b5d9;
}