body {
    background: #233442;
    font-family: sans-serif;
    color: white;
}

.cam {
	margin: auto;
}

img {
	width: 640px;
	height: 480px;
	display: block;
	margin: auto;
}

button {
	background-color: #468ba6;
	margin: auto;
	margin-top: 10px;
	height: 30px;
	width: 100px;
}